name: Automated Tests with Allure Report

on:
  push:
    branches: [ "main", "master" ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Установка Allure (инструмента командной строки)
      - name: Load Allure
        uses: sudo-bot/action-setup-allure@v1.2.2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium

      # 2. Запуск тестов -> создается папка allure-results
      - name: Run Tests
        run: python -m pytest tests/ --alluredir=allure-results
        continue-on-error: true

      # 3. Генерация отчета -> создаем папку public
      - name: Generate Report
        run: allure generate allure-results --clean -o public

      # 4. Публикация папки public в ветку gh-pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public   # Публикуем именно папку с HTML
          force_orphan: true      # Полная перезапись ветки
